img {
    width: 400px;
    height: 200px;
}

.container {
    width: 500px;
    margin: 50px 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}