.img1,
.p1 {
    width: 150px;
}

.item {
    border: 1px solid black;
    height: 400px;
    width: 150px;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    width: 400px;
}

.foot {
    background-color: black;
    color: white;
    width: 150px;
    text-align: center;
    position: absolute;
    bottom: -15px;
    
}

