.container {
    background-color: #d8a420;
    width: 700px;
    height: 363px;
    padding: 10px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-content: space-evenly;
}

.container div {
    background-color: #ddd;
    width: 175px;
    height: 120px;
    text-align: center;
    font-size: 100px;

}

.container .one {
    background-color: #1abc9c;
    color: white;
    
}

.container .two {
    background-color: #3498db;
    color: white;
    
}

.container .three {
    background-color: #9b59b6;
    color: white;
    
}

.container .four {
    background-color: #34495e;
    color: white;
    
}

.container .five {
    background-color: #f1c40f;
    color: white;
    
}

.container .six {
    background-color: #e67e22;
    color: white;
    
}

.container .seven {
    background-color: #e74c3c;
    color: white;
    
}

.container .eight {
    background-color: #bdc3c7;
    color: white;
    
}

.container .nine {
    background-color: #2ecc71;
    color: white;
    
}

.container .ten {
    background-color: #16a085; 
    color: white;
    
}

.container .mt {
    padding: 0px 86px;
    background-color: #ffffff;
}