* {
    margin: 0px;
}

.p1,
.p2 {
    color: white;
    font-size: 50px;
    padding: 30px 50px;
    width: 700px;
    height: 669px;
    display: flex;
    justify-content: center;
    align-items: center;

}


.p1 {
    background-color: #ffa500;
}

.p2 {
    background-color: #0000ff;
}

.container {
    display: flex;
    justify-content: center;
}